.chat-rooms-section {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	min-height: calc(85vh);
	margin-bottom: 2rem;
}

.chat-rooms-section__channels {
	background-color: var(--clr-darkgrey);
	flex-grow: 1;
	border-radius: 12px 0 0 12px;
	padding: 0.5rem 1rem;
}

.chat-rooms-section__dm {
	padding-left: 1rem;
	padding-top: 0.3rem;
}

.channels__title {
	font-size: var(--size-lg);
	text-decoration: underline;
}

.lock {
	display: inline-block;
	margin-left: 0.5rem;
}