.chat-rooms-section {
	display: flex;
	justify-content: space-between;
	min-height: calc(85vh);
	margin-bottom: 2rem;
}

.channels-section {
	background-color: var(--clr-darkgrey);
	flex-grow: 1;
	border-radius: 12px 0 0 12px;
	padding: 0.5rem 1rem;
}



.channels__title {
	font-size: var(--size-lg);
	text-decoration: underline;
}

.channels__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.locked__title {
	margin-top: 1rem;
}

.channel-link {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
    border-bottom: 1px solid var(--clr-lightgrey);
	gap: 0.5rem;
	color: var(--clr-gold);
	text-decoration: none;
}