 .dm-chat-page {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: var(--clr-darkgrey);
  }
  
  .dm-chat-page__back-link {
	margin-bottom: 1rem;
  }
  
  .dm-chat-page__header {
	font-size: var(--size-4xl);
  }
  
  .dm-chat-page__messages-container {
	flex: 1;
	overflow-y: auto; 
  }
  
  .dm-chat-page__message-card {
	padding: 10px;
	margin: 5px 0;
	flex: 1;
  }
  
  .dm-chat-page__message-card--sent {
	background-color: var(--clr-gold);
	color: var(--clr-dark);
	align-self: flex-end;
  }
  
  .dm-chat-page__message-card--received {
	background-color: var(--clr-lightgrey);
	align-self: flex-start; 
  }
  
  .dm-chat-page__message-header {
	font-weight: bold;
  }
  
  .dm-chat-page__display-name {
	
  }
  
  .dm-chat-page__loading,
  .dm-chat-page__error {
	text-align: center;
	margin-top: 2rem;
  }
  