.modal-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1000;
}

.modal-content {
	background-color: var(--clr-lightgrey);
    border-radius: 12px;
    padding: 2rem; 
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(30, 30, 30, 0.5);
    text-align: center; 
}

.modal-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--clr-gold);
}