.form {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-darkgrey);
	border-radius: 12px;
	padding: 1.5rem;
	align-items: center;
	max-width: 250px;
}

.form__subtitle {
}

.form-group {
	margin-bottom: var(--size-2xl);
}

input {
	padding: 6px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 12px;
}

.error-message {
	margin-bottom: var(--size-2xl);
}