.login-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
}

.title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: var(--size-5xl);
}

.tagline {
	font-size: var(--size-lg);
	text-transform: capitalize;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-darkgrey);
	border-radius: 12px;
	padding: 1.5rem 2.5rem;
	align-items: center;
}

.form__subtitle {
	font-size: var(--size-2xl);
	text-align: center;
	text-transform:uppercase;
	max-width: 14ch;
}



.form-group {
	margin-bottom: var(--size-2xl);
	display: flex;
	flex-direction: column;
}

input {
	padding: 6px;
	font-size: var(--size-base);
	border: 1px solid #ccc;
	border-radius: 12px;
}

.form-username, .form-password {
	font-size: var(--size-base);
}

.error-message {
	margin-bottom: var(--size-2xl);
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

	.form {
		padding: 2rem;

	}

	.title {
		font-size: var(--size-6xl);
	}
	
	.tagline {
		font-size: var(--size-2xl);
	}
	
	.form__subtitle {
		font-size: var(--size-3xl);
	}
	
	input {
		font-size: var(--size-lg)
	}

	.form-username, .form-password {
		font-size: var(--size-lg);
	}
	
	.error-message {
		font-size: var(--size-lg);
	}

	.guest-link {
		font-size: var(--size-lg);
	}

	.login-btn {
		font-size: var(--size-lg);
	}
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}  */