.nav {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding: 0.5rem 0.5rem 0;
	border-bottom: 2px solid var(--clr-lightgrey);
	margin-bottom: 1rem;
}

.nav-text__wrapper {
	display: flex;
	gap: 0.5rem;
	align-items: end;
}