.users-header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-gold);
  align-items: center;
  padding: 0.5rem 0;
}

.input-icon-wrapper {
  position: relative;
  display: inline-block;
}

.input-icon-wrapper .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-gold);
  width: var(--size-base);
}

.input-icon-wrapper input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid var(--clr-gold);
}
